<div class = "centered text-left">
 <div class="col-md-5">
    <ul>
      <li ng-repeat="author in authors.authors" data-ng-click="showMenu = !showMenu">
          {{author.Name}}
          <div class="dropdown open" aria-expanded="true">
            <ul  class="dropdown-menu" aria-expanded="true" role="menu" aria-labelledby="dropdownMenu1" data-ng-if="showMenu" >
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#/Author/{{author.id}}">GOTO AUTHORS PAGE</a></li>
              <li role="presentation" ng-repeat="book in author.books"><a role="menuitem" tabindex="-1" href="#/Book/{{book.id}}">{{book.name}}</a></li>
            </ul>
         </div>


    </ul>
  </div>
</div>