<div class = "centered text-left">
 <div class="col-md-5">
  <span>NAME: {{currentAuthor.Name}}</span>
  <br>
  <span>BIO: {{currentAuthor.bio}}</span>
  <br>
  BOOKS:
  <ul>
    <li ng-repeat="book in currentAuthor.books">
      <a href="#/Book/{{book.id}}">{{book.name}}</a>
    </li>

    </ul>
    </div>
</div>