<div class = "centered text-left">
 <div class="col-md-5">
  <span>NAME: {{currentBook.Name}}</span>
  <br>
  <span>DESCRIPTION: {{currentBook.Description}}</span>
  <br>
  <span>GENGRE: <a href="#/Genre/{{currentBook.Genre}}">{{currentBook.Genre}}</a></span>
  <br>
   AUTHORS:
  <ul>
    <li ng-repeat="author in currentBook.Authors">
      <a href="#/Author/{{author.id}}">{{author.name}}</a>
    </li>

    </ul>
  </span>
  </div>
</div>