<div class = "centered text-left">
 <div class="col-md-5">
    <ul>
      <li ng-repeat="book in books.books">
        <a href="#/Book/{{book.id}}">{{book.Name}}</a>
        <ul>
          <li ng-repeat="author in book.Authors"><a href="#/Author/{{author.id}}">{{author.name}}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>