<div class = "row ">

  <span>BOOKS BY GENRE: {{currentGenre.Name}}</span>
  <br>
  <ul>
    <li ng-repeat="book in currentGenre.books">
      <a href="#/Book/{{book.id}}">{{book.name}}</a>
    </li>
    </ul>
</div>